<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Pandey</title>
    <script src="https://kit.fontawesome.com/56fabd3b9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
    <section id="home">
        <div class="top-left">
            <h1 id="name">Shubham Pandey</h1>
            <svg class="t1" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                <path
                    d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
                <path
                    d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791" />
            </svg>
            <a id="mail" class="t1" href="mailto:shubhamppadney1084@gamil.com">Send an Email</a>
        </div>
        <nav>
            <ul id="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="24"
                            viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#ffffff"
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg></a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#recommendations">Recommendations</a></li>
            </ul>
            <ul class="navbar">
                <li><a class="topmenu" href="#about-me">About Me</a></li>
                <li><a class="topmenu" href="#skills">Skills</a></li>
                <li><a class="topmenu" href="#projects">Projects</a></li>
                <li><a class="topmenu" href="#experience">Experience</a></li>
                <li><a class="topmenu" href="#recommendations">Recommendations</a></li>
                <li class="menu-btn" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="32" width="28"
                            viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#ffffff"
                                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                        </svg></a></li>
            </ul>
        </nav>
    </section>
    <section id="about-me">
        <h1 class="heading">>><u>About-Me</u></h1>
        <div class="about_me">
            <div class="image">
                <img src="/images/Myimg.png" width="350px" height="400px">
            </div>
            <div class="about">
                <h1>Hey!</h1>
                <h3><u>Shubham Pandey</u> here.</h3>
                <p class="para" id="about">I am a student at <b>Bharti Vidyapeeth University College of Engineering,
                        pune</b>.<br>
                    Currently in the 3rd year(6th sem), pursuing <b>Computer Engineering</b> as my UG degree. I am
                    pursuing
                    to become a <b>full-stack developer</b> someday.<br>
                    I am mostly a self-taught programmer, and have earned a set of useful <a href="#skills"
                        style="color:aqua"><i><b>skills</b></i></a>.<br>
                    Since I was a child, the world of internet was always a place of mystry for me, thus I developed an
                    interest in this field, wanting to know more and more about how this enormous structure works.<br>
                    <a href="#skills" style="color:aqua">Know more about me below...</a><br /><br />
                    <a href="https://github.com/Shubhampandey1git" target="_blank"><img src="/images/git.png"
                            width="50px" height="50px"></a>
                    <a href="https://www.linkedin.com/in/shubham-pandey-6a65a524a/" target="_blank"><img
                            src="/images/linkedin.png" width="50px" height="50px"></a>
                </p>
            </div>
        </div>
    </section>
    <section id="skills">
        <h1 class="heading">>><u>Skills</u></h1>
        <div class="all_skills">
            <div class="skill">
                <i class="fa-brands fa-html5 fa-2xl" style="color: #9f9fff;"></i>
                <h6>HTML/CSS</h6>
                <div class="progress">
                    <div id="html"><span>85%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-brands fa-js fa-2xl" style="color: #ff9fe7;"></i>
                <h6>Java-Script</h6>
                <div class="progress">
                    <div id="js"><span>70%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-brands fa-node-js fa-2xl" style="color: #ffbd9f;"></i>
                <h6>Node Js</h6>
                <div class="progress">
                    <div id="node"><span>55%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-solid fa-code fa-2xl" style="color: #9fff9f;"></i>
                <h6>Express Js</h6>
                <div class="progress">
                    <div id="ejs"><span>50%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-solid fa-database fa-2xl" style="color: #daff9f;"></i>
                <h6>MongoDB</h6>
                <div class="progress">
                    <div id="mongo"><span>60%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-brands fa-python fa-2xl" style="color: #e19fe1;"></i>
                <h6>Python</h6>
                <div class="progress">
                    <div id="py"><span>73%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-solid fa-table fa-2xl" style="color: #9ff9ff;"></i>
                <h6>MySql</h6>
                <div class="progress">
                    <div id="sql"><span>88%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-solid fa-c fa-2xl" style="color: #fff99f;"></i>
                <h6>C/C++</h6>
                <div class="progress">
                    <div id="c"><span>77%</span></div>
                </div>
            </div>
            <div class="skill">
                <i class="fa-brands fa-php fa-2xl" style="color: #ff0000;"></i>
                <h6>Php</h6>
                <div class="progress">
                    <div id="php"><span>45%</span></div>
                </div>
            </div>
        </div>
    </section>
    <section id="experience">
        <h1 class="heading">>><u>Experience</u></h1>
        <div class="xplist">
            <ul>
                <li>
                    <h1>Full-stack Developer Intern</h1><br />
                    <p>&#11162; Worked as a fullstack developer intern at <a style="color:white" target="_blank"
                            href="https://www.linkedin.com/company/bharat-intern/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3B4jcpbc1oSkuKj3UeEYN3kg%3D%3D"><b><u>Bhart
                                    Intern</u></b></a><br />
                        &#11162; Created projects like <a href="https://blogwebsite-deth.onrender.com" target="_blank"
                            style="color:aqua"><i>blog-website</i></a> using <b>MERN</b><br />
                        &#11162; The internship gave me an opportunity to create projects and helped me understand
                        web-dev on a deeper level.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section id="projects">
        <h1 class="heading">>><u>Projects</u></h1>
        <div class="project-list">
            <ul>
                <li>
                    <h1>Blog-Website</h1><br />
                    <p>&#11162; Created while working as fullstack developer intern at <a style="color:white"
                            target="_blank"
                            href="https://www.linkedin.com/company/bharat-intern/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3B4jcpbc1oSkuKj3UeEYN3kg%3D%3D"><b><u>Bhart
                                    Intern</u></b></a><br />
                        &#11162; The aim was to create a website that allows users to <u>add</u>, <u>delete</u>,
                        <u>edit</u> and <u>read</u> the articles<br />
                        &#11162; Articles created are displayed on the home page and the data is stored in a
                        <b>mongoDB</b> database.<br />
                        &#11162; Links for Repository and website:<br /><br />
                        <a type="button" href="https://github.com/Shubhampandey1git/Registration-form.git"
                            target="_blank" class="links">Git-hub</a>
                        <a href="https://blogwebsite-deth.onrender.com" target="_blank"
                            class="links">Blog-site</a><br />
                    </p>
                </li>
                <li>
                    <h1>Signin-Signup Page</h1><br />
                    <p>&#11162; Created while working as fullstack developer intern at <a style="color:white"
                            href="https://www.linkedin.com/company/bharat-intern/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3B4jcpbc1oSkuKj3UeEYN3kg%3D%3D"><b><u>Bhart
                                    Intern</u></b></a><br />
                        &#11162; The aim was to create a page/website that allows users to <u>register</u> or
                        <u>signin</u> into the account<br />
                        &#11162; The data is stored in a <b>mongoDB</b> database when Registered and Checks the database
                        on Sign-in; thus directs the user to success or failure page.<br />
                        &#11162; Links for Repository and website:<br /><br />
                        <a href="https://github.com/Shubhampandey1git/Blog-website.git" class="links">Git-hub</a>
                        <a href="https://sign-in-sign-up.onrender.com" target="_blank"
                            class="links">Signin-Signup</a><br />
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section id="recommendations">
        <h1 class="heading">>><u>Recommendations</u></h1>
        <div class="rec-show" id="rec-show">
            <% articles.forEach(article=>{%>
                <div class="recbox">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%=article.name%>
                            </h4>
                            <div class="class-subtitle text-muted mb-2"
                                style="font-size: 15px; font-family:'playfair display';">
                                <%=article.createdAt.toLocaleDateString() %>
                            </div>
                            <div class="card-text mb-2">
                                <i>
                                    <%=article.message%>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
        </div>
        <div class="rec-add">
            <form action="/addRecommendation" method="post">
                <p class="introduction" style="font-size: 30px;"><b>Leave a Recommendation</b></p>
                <input name="name" class="new_recommendation" type="text" placeholder="Name" required> <br />
                <textarea name="message" class="new_recommendation" type="text" id="recmessage"
                    placeholder="Message"></textarea><br />
                <input id="recommend_btn" type="submit">
            </form>
        </div>
    </section>

    <div class="iconbutton">
        <a href="#home">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
                width="63px">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </a>
    </div>
    <br /><br />
    <script>
        function showSidebar() {
            const sidebar = document.querySelector('#sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar() {
            const sidebar = document.querySelector('#sidebar')
            sidebar.style.display = 'none'
        }

    </script>
</body>

</html>
